* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.splide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-btns {
  display: none;
}

@media (min-width: 512px) {
  .header-btns {
    display: block;
    background-color: transparent;
    fill: rgba(255, 255, 255, 0.4);
    width: 4rem;
    height: 4rem;
    -webkit-transition: fill .4s;
    transition: fill .4s;
  }
  .header-btns:focus, .header-btns:hover {
    fill: rgba(255, 255, 255, 0.8);
  }
  .header-btns svg {
    width: 50%;
    height: 50%;
  }
}

.c-button {
  padding: 1rem 2.2rem;
  color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  text-transform: uppercase;
}

.c-button--transparent {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.c-hero__heading {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 26px;
}

.c-hero__decoration {
  position: relative;
  width: 200px;
  margin: 0 auto 26px;
}

.c-hero__decoration::before, .c-hero__decoration::after {
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #fff;
}

.c-hero__decoration::before {
  left: 0;
}

.c-hero__decoration::after {
  right: 0;
}

.c-hero__paragraph {
  display: none;
}

.c-burger {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 3;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.c-burger__inner, .c-burger::before, .c-burger::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 70%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.c-burger__inner {
  top: 50%;
}

.c-burger::before {
  top: 25%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.c-burger::after {
  top: 75%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.c-burger--active .c-burger__inner {
  -webkit-transform: translate(100%, -50%) rotate(150deg) scale(0);
          transform: translate(100%, -50%) rotate(150deg) scale(0);
}

.c-burger--active::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.c-burger--active::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.l-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#main-nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.l-main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity .4s, -webkit-transform .1s .5s;
  transition: opacity .4s, -webkit-transform .1s .5s;
  transition: transform .1s .5s, opacity .4s;
  transition: transform .1s .5s, opacity .4s, -webkit-transform .1s .5s;
}

.l-main-nav--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity .4s .1s, -webkit-transform .1s;
  transition: opacity .4s .1s, -webkit-transform .1s;
  transition: transform .1s, opacity .4s .1s;
  transition: transform .1s, opacity .4s .1s, -webkit-transform .1s;
}

.c-menu {
  list-style: none;
  text-transform: uppercase;
  margin: 0 15px;
  background-color: #276a9a;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.c-menu__item {
  width: 100%;
}

.c-menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 1.6rem 0;
  font-size: 1.35rem;
}

.c-logo {
  display: block;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-logo__text {
  margin-left: 8px;
  font-size: 1.11111rem;
  line-height: 2rem;
}

.c-logo__icon {
  width: 2rem;
}

#main-header {
  width: 100%;
  height: 100vh;
}

#offer {
  min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */