:root {
  --js-photos-quantity: 8;
}

@media (min-width: 512px) {
  :root {
    --js-photos-quantity: 9;
  }
}

@media (min-width: 768px) {
  :root {
    --js-photos-quantity: 12;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.js-hide {
  display: none;
}

.js-width-hide {
  -webkit-transition: width 1s;
  transition: width 1s;
  width: 0;
  overflow: hidden;
}

.js-width-show {
  width: 100%;
}

.js-opacity-hide {
  opacity: 0;
}

.js-opacity-show {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

.js-decoration-hide::after {
  right: -40px !important;
}

.js-decoration-hide::before {
  left: -40px !important;
}

.js-decoration-show::after {
  right: 0 !important;
}

.js-decoration-show::before {
  left: 0 !important;
}

.js-transformDownTransformed-hide {
  -webkit-transform: translate(-50%, -100%) !important;
          transform: translate(-50%, -100%) !important;
  opacity: 0;
}

.js-transformDownTransformed-show {
  -webkit-transition: opacity .8s, -webkit-transform .5s;
  transition: opacity .8s, -webkit-transform .5s;
  transition: opacity .8s, transform .5s;
  transition: opacity .8s, transform .5s, -webkit-transform .5s;
  -webkit-transform: translate(-50%, 0) !important;
          transform: translate(-50%, 0) !important;
  opacity: 1;
}

.js-transformUp-hide {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
  opacity: 0;
  pointer-events: none;
}

.js-transformUp-show {
  -webkit-transition: opacity .9s, -webkit-transform .5s !important;
  transition: opacity .9s, -webkit-transform .5s !important;
  transition: opacity .9s, transform .5s !important;
  transition: opacity .9s, transform .5s, -webkit-transform .5s !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  opacity: 1;
}

.js-error-outline {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 204, 255, 0.75);
          box-shadow: 0px 0px 0px 3px rgba(0, 204, 255, 0.75);
}

.splide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-btns {
  display: none;
}

@media (min-width: 512px) {
  .header-btns {
    display: block;
    background-color: transparent;
    fill: rgba(255, 255, 255, 0.4);
    width: 4rem;
    height: 4rem;
    -webkit-transition: fill .4s;
    transition: fill .4s;
  }
  .header-btns:focus, .header-btns:hover {
    fill: rgba(255, 255, 255, 0.8);
  }
  .header-btns svg {
    width: 50%;
    height: 50%;
  }
}

#splide01-slide01 {
  background-position-x: 20% !important;
}

@media (min-width: 1200px) {
  #splide01-slide01 {
    background-position-x: center !important;
  }
}

#splide01-slide02 {
  background-position-x: 60% !important;
}

@media (min-width: 1200px) {
  #splide01-slide02 {
    background-position-x: center !important;
  }
}

.c-button {
  display: block;
  padding: 1rem;
  width: 10rem;
  color: #f2f2f2;
  border-radius: 6px;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
  outline: none;
}

.c-button--transparent {
  background-color: rgba(79, 79, 79, 0.5);
  border: 1px solid rgba(242, 242, 242, 0.6);
}

.c-button--transparent:hover, .c-button--transparent:focus {
  background-color: #f2f2f2;
  color: #276a9a;
}

.c-button--main {
  margin: 10px auto 0;
}

@media (min-width: 1200px) {
  .c-button--main {
    margin: 30px auto 0;
  }
}

.c-button--main, .c-button--small {
  background-color: #276a9a;
  border: 1px solid #276a9a;
}

.c-button--main:hover, .c-button--main:focus, .c-button--small:hover, .c-button--small:focus {
  background-color: #f2f2f2;
  color: #276a9a;
}

.c-button--small {
  padding: 0.76923rem;
  width: 8rem;
}

.c-button--contact {
  position: relative;
  text-decoration: none;
  padding: 0;
  color: #276a9a;
  font-size: .9rem;
  margin-top: 10px;
  -webkit-transition: color .4s .4s;
  transition: color .4s .4s;
  outline: none;
}

@media (min-width: 992px) {
  .c-button--contact {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .c-button--contact {
    width: 170px;
  }
  .c-button--contact:nth-of-type(2) {
    width: 245px;
  }
  .c-button--contact:last-of-type {
    width: 140px;
  }
  .c-button--contact:hover, .c-button--contact:focus {
    color: rgba(39, 106, 154, 0.5);
  }
  .c-button--contact:hover .c-button__icon, .c-button--contact:focus .c-button__icon {
    min-width: 100%;
  }
}

.c-button__icon {
  padding: 10px;
  min-width: 10px;
  border: 1px solid rgba(39, 106, 154, 0.4);
  border-radius: 50px;
  margin-right: 5px;
  -webkit-transition: min-width .5s .1s;
  transition: min-width .5s .1s;
}

.c-button__text {
  font-size: .95rem;
}

@media (min-width: 1200px) {
  .c-button__text {
    position: absolute;
    top: 10px;
    left: 41px;
  }
}

.c-hero {
  color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.c-hero__heading, .c-hero__decoration, .c-hero__paragraph {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.c-hero__heading {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .c-hero__heading {
    font-weight: 500;
    font-size: 5vw;
  }
}

.c-hero__heading-inner {
  white-space: nowrap;
}

.c-hero__decoration {
  position: relative;
  width: 200px;
  margin: 0 auto 26px;
}

@media (min-width: 768px) {
  .c-hero__decoration {
    margin: 0 auto 80px;
  }
}

@media (min-width: 1200px) {
  .c-hero__decoration {
    width: 300px;
    font-size: 1.6rem;
  }
}

.c-hero__decoration::before, .c-hero__decoration::after {
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #f2f2f2;
  -webkit-transition: left 1s, right 1s;
  transition: left 1s, right 1s;
}

@media (min-width: 1200px) {
  .c-hero__decoration::before, .c-hero__decoration::after {
    height: 2px;
  }
}

.c-hero__decoration::before {
  left: 0;
}

.c-hero__decoration::after {
  right: 0;
}

.c-hero__paragraph {
  display: none;
}

@media (min-width: 768px) {
  .c-hero__paragraph {
    position: absolute;
    display: block;
    bottom: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70vw;
  }
}

@media (min-width: 1200px) {
  .c-hero__paragraph {
    width: 50vw;
  }
}

.subpage .c-hero__heading {
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .subpage .c-hero__heading {
    font-weight: 500;
    font-size: 4vw;
  }
}

.c-burger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 3;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

@media (min-width: 512px) {
  .c-burger {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1200px) {
  .c-burger {
    display: none;
  }
}

.c-burger__inner, .c-burger::before, .c-burger::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 55%;
  height: 3px;
  background-color: #00ccff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: background-color .4s, -webkit-transform .4s;
  transition: background-color .4s, -webkit-transform .4s;
  transition: transform .4s, background-color .4s;
  transition: transform .4s, background-color .4s, -webkit-transform .4s;
}

.c-burger__inner {
  top: 50%;
}

.c-burger::before {
  top: 30%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.c-burger::after {
  top: 70%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.c-burger--active .c-burger__inner {
  -webkit-transform: translate(100%, -50%) rotate(150deg) scale(0);
          transform: translate(100%, -50%) rotate(150deg) scale(0);
}

.c-burger--active::before {
  -webkit-transform: translate(-65%, -50%) rotate(-45deg);
          transform: translate(-65%, -50%) rotate(-45deg);
}

.c-burger--active::after {
  -webkit-transform: translate(-65%, -50%) rotate(45deg);
          transform: translate(-65%, -50%) rotate(45deg);
}

.c-card {
  position: relative;
  height: 230px;
  margin-bottom: 55px;
  background-size: 100%;
  background-position: center center;
  border-radius: 5px;
  -webkit-box-shadow: 6px -1px 12px -5px rgba(30, 30, 30, 0.5);
          box-shadow: 6px -1px 12px -5px rgba(30, 30, 30, 0.5);
  -webkit-transition: background-size .4s;
  transition: background-size .4s;
}

@media (min-width: 768px) {
  .c-card {
    height: 40vw;
  }
}

@media (min-width: 992px) {
  .c-card {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    height: 18vw;
  }
  .c-card:nth-of-type(odd) {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .c-card:nth-of-type(odd) {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.c-card:hover, .c-card:focus, .c-card.js-hide-card {
  background-size: 110%;
}

.c-card:hover .c-card__inner, .c-card:focus .c-card__inner, .c-card.js-hide-card .c-card__inner {
  width: 0;
}

.c-card:hover .c-card__icon, .c-card:focus .c-card__icon, .c-card.js-hide-card .c-card__icon {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.c-card:hover .c-card__heading, .c-card:focus .c-card__heading, .c-card.js-hide-card .c-card__heading {
  top: 102%;
}

.c-card--electrical {
  background-image: url(../img/offer-1.jpg);
}

.c-card--monitoring {
  background-image: url(../img/offer-2.jpg);
}

.c-card--lan {
  background-image: url(../img/offer-3.jpg);
}

.c-card__inner {
  height: 100%;
  width: 30%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(79, 79, 79, 0.75);
  border-radius: 10px 0 0 10px;
  -webkit-transition: width .4s;
  transition: width .4s;
  overflow: hidden;
}

@supports ((-webkit-backdrop-filter: blur(7px)) or (backdrop-filter: blur(7px))) {
  .c-card__inner {
    background-color: rgba(79, 79, 79, 0.35);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
  }
}

.c-card__icon {
  width: 3.5rem;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.c-card__heading {
  position: absolute;
  top: 103%;
  left: 0;
  width: 100%;
  font-weight: 400;
  color: #4f4f4f;
  -webkit-transition: top .4s;
  transition: top .4s;
}

.c-input-group {
  position: relative;
  text-align: left;
}

@media (min-width: 992px) {
  .c-input-group {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
}

.c-input-group__input, .c-input-group__textarea {
  border: 1px solid #276a9a;
  border-radius: 3px;
  color: #276a9a;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  width: 100%;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
}

.c-input-group__textarea {
  height: 20vh;
}

@media (min-width: 512px) {
  .c-input-group__textarea {
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .c-input-group__textarea {
    height: 20vh;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  .c-input-group__textarea {
    height: 15vh;
  }
}

.c-input-group__file {
  margin-bottom: 20px;
  color: #276a9a;
}

.c-input-group__help {
  position: absolute;
  left: 0;
  bottom: -14px;
  color: #00ccff;
  width: 0;
  -webkit-transition: width 1.2s;
  transition: width 1.2s;
  overflow: hidden;
  white-space: nowrap;
  bottom: 3px;
}

.c-input-group__help.js-error-slide {
  width: 100%;
}

.c-custom-checkbox {
  position: relative;
  margin-bottom: 15px;
}

.c-custom-checkbox__input {
  margin-right: 10px;
  -webkit-transition: -webkit-box-shadow .4s;
  transition: -webkit-box-shadow .4s;
  transition: box-shadow .4s;
  transition: box-shadow .4s, -webkit-box-shadow .4s;
}

.c-custom-checkbox__label {
  font-size: 1rem;
}

.c-custom-checkbox__help {
  position: absolute;
  left: 0;
  bottom: -14px;
  color: #00ccff;
  width: 0;
  -webkit-transition: width 1.2s;
  transition: width 1.2s;
  overflow: hidden;
  white-space: nowrap;
  bottom: -14px;
}

.c-custom-checkbox__help.js-error-slide {
  width: 100%;
}

.l-container {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: #f2f2f2;
}

@media (min-width: 512px) {
  .l-container {
    padding: 2rem 5rem;
  }
}

@media (min-width: 992px) {
  .l-container {
    padding: 4rem 6rem;
  }
}

.l-container__heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  color: #4f4f4f;
}

.l-container__paragraph {
  line-height: 1.6rem;
  margin-bottom: 2.5rem;
  color: #4f4f4f;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .l-container__paragraph {
    padding: 0 14vw;
  }
}

.l-container--contact {
  background-image: url(../img/footer.png);
  background-size: cover;
  padding-bottom: 2vh;
}

@media (min-width: 992px) {
  .l-container--swap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.l-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-wrapper--dark {
  background-color: rgba(0, 0, 0, 0.1);
}

.subpage .l-wrapper--dark {
  background-color: rgba(0, 0, 0, 0.3);
}

#main-nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.l-main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(79, 79, 79, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity .4s, -webkit-transform .1s .3s;
  transition: opacity .4s, -webkit-transform .1s .3s;
  transition: transform .1s .3s, opacity .4s;
  transition: transform .1s .3s, opacity .4s, -webkit-transform .1s .3s;
}

@media (min-width: 768px) and (orientation: portrait) {
  .l-main-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20vh;
  }
}

@media (min-width: 1200px) {
  .l-main-nav {
    height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 0 20px;
  }
}

.l-main-nav--active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity .4s .1s, -webkit-transform .1s;
  transition: opacity .4s .1s, -webkit-transform .1s;
  transition: transform .1s, opacity .4s .1s;
  transition: transform .1s, opacity .4s .1s, -webkit-transform .1s;
}

.c-menu {
  list-style: none;
  text-transform: uppercase;
  margin: 0 15px;
  background-color: #276a9a;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

@media (min-width: 512px) {
  .c-menu {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .c-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    border: none;
    width: 80%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
}

.c-menu__item {
  width: auto;
  position: relative;
}

@media (min-width: 1200px) {
  .c-menu__item--hover-menu:hover .c-menu--hover {
    height: 120px;
    padding-bottom: 5px;
  }
}

.c-menu__link {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 1.6rem 0;
  font-size: 1.35rem;
  -webkit-transition: color .4s;
  transition: color .4s;
  outline: none;
  cursor: pointer;
}

@media (min-width: 512px) {
  .c-menu__link {
    padding: .8rem 1.1rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .c-menu__link {
    padding: 2rem 1rem;
  }
}

@media (min-width: 1200px) {
  .c-menu__link {
    font-size: 1rem;
  }
}

.c-menu__link--main-site {
  padding: .6rem 0;
}

.c-menu__link:hover, .c-menu__link:focus {
  color: #00ccff;
}

.c-menu--hover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .4s;
  transition: height .4s;
}

.c-menu--hover.show-menu {
  height: 145px;
}

@media (min-width: 1200px) {
  .c-menu--hover {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(79, 79, 79, 0.5);
  }
  .c-menu--hover.show-menu {
    height: 120px;
    padding-bottom: 5px;
  }
}

.c-logo {
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
}

@media (min-width: 1200px) {
  .c-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .c-logo {
    padding-bottom: 20px;
  }
}

.c-logo:hover, .c-logo:focus {
  color: #00ccff;
}

.c-logo__text {
  margin-left: 8px;
  font-size: 1.11111rem;
  line-height: 2rem;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.c-logo__icon {
  width: 2rem;
}

@media (min-width: 1200px) {
  .c-logo__icon {
    width: 1.8rem;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

.c-footer {
  background-color: transparent;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
  margin: 30px auto 0;
  width: 85%;
}

@media (min-width: 1200px) {
  .c-footer {
    width: 85vw;
  }
}

.c-footer__text {
  text-decoration: none;
  font-size: 12px;
  color: #4f4f4f;
}

@media (min-width: 1200px) {
  .c-footer__text {
    padding: 10px 40px;
    -webkit-transition: color .4s;
    transition: color .4s;
  }
  .c-footer__text:hover {
    color: #276a9a;
  }
}

.l-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .l-stack--horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-stack--contact {
  text-align: left;
}

@media (min-width: 992px) {
  .l-stack--contact {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 1.5rem;
  }
}

@media (min-width: 1200px) {
  .l-stack--contact {
    width: 75%;
  }
}

.my-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .my-gallery::after {
    content: "";
    width: calc(100%/4 - 4px);
  }
}

@media (min-width: 1200px) {
  .my-gallery {
    width: 80%;
    margin: 0 auto;
  }
}

.my-gallery__figure {
  width: calc(100%/2 - 4px);
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 512px) {
  .my-gallery__figure {
    width: calc(100%/3 - 4px);
  }
}

@media (min-width: 992px) {
  .my-gallery__figure {
    width: calc(100%/4 - 8px);
    margin-bottom: 16px;
  }
}

.my-gallery__figure:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.4);
  opacity: 0;
  -webkit-transition: opacity .9s;
  transition: opacity .9s;
  cursor: pointer;
}

.my-gallery__figure img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .9s;
  transition: -webkit-transform .9s;
  transition: transform .9s;
  transition: transform .9s, -webkit-transform .9s;
}

.my-gallery__figure:hover::after {
  opacity: 1;
}

.my-gallery__figure:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.l-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #276a9a;
  color: #f2f2f2;
  text-align: center;
}

@media (min-width: 992px) {
  .l-split {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}

.l-split--reverse {
  background-color: #7C7b7a;
}

@media (min-width: 992px) {
  .l-split--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
}

.l-split__image, .l-split__content {
  background-size: cover;
  background-position: center center;
  width: 100%;
}

@media (min-width: 992px) {
  .l-split__image, .l-split__content {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.l-split__image {
  height: 40vh;
}

@media (min-width: 512px) {
  .l-split__image {
    height: 70vh;
  }
}

@media (min-width: 992px) {
  .l-split__image {
    height: 60vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .l-split__image {
    height: 40vh;
  }
}

.l-split__image--home {
  background-image: url(../img/about-us.jpg);
}

.l-split__image--camera {
  background-image: url(../img/about-us-2.jpg);
}

.l-split__content {
  padding: 3rem 1.5rem;
}

@media (min-width: 512px) {
  .l-split__content {
    padding: 2rem 5rem;
  }
}

@media (min-width: 992px) {
  .l-split__content {
    padding: 2rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .l-split__content {
    padding: 2rem 6rem;
  }
}

.l-split__heading {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .l-split__heading {
    font-size: 1.9rem;
  }
}

.l-split__paragraph {
  font-weight: 300;
}

@media (min-width: 1200px) {
  .l-split__paragraph {
    line-height: 1.5rem;
  }
}

.c-list {
  list-style: none;
}

.c-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  font-weight: 500;
}

@media (min-width: 992px) {
  .c-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .c-list__item--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.c-list__icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .c-list__icon {
    font-size: 1.3rem;
    margin: 0;
  }
}

.c-list__text {
  font-size: 1rem;
}

@media (min-width: 992px) {
  .c-list__text {
    margin: 0 15px;
  }
}

.fa-user-shield {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

@media (min-width: 992px) {
  .fa-user-shield {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

.l-form {
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  .l-form {
    padding: 4vw 10vw;
    margin: 0 10vw;
    border: 1px solid rgba(79, 79, 79, 0.6);
  }
}

.l-form__inner {
  position: relative;
  margin-top: 20px;
}

.l-form__heading, .l-form__paragraph {
  display: none;
}

@media (min-width: 1200px) {
  .l-form__heading, .l-form__paragraph {
    display: block;
  }
}

.l-form__heading {
  font-weight: 400;
  font-size: 1.6rem;
}

.l-form__paragraph {
  font-weight: 300;
  font-size: 1.1rem;
}

.l-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

@media (min-width: 992px) {
  .l-form__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#main-header {
  position: relative;
  width: 100%;
  height: 100vh;
}

#main-header.subpage__installations {
  background-size: cover;
  height: 70vh;
  background-position: center center;
  background-image: url(../img/installations-bg.jpg);
}

#main-header.subpage__installations .l-wrapper {
  height: 100%;
}

#main-header.subpage__lan-installations {
  background-size: cover;
  height: 70vh;
  background-position: center center;
  background-image: url(../img/lan-installations-bg.jpg);
}

#main-header.subpage__lan-installations .l-wrapper {
  height: 100%;
}

#main-header.subpage__monitoring {
  background-size: cover;
  height: 70vh;
  background-position: center center;
  background-image: url(../../img/monitoring.bg.jpg);
}

#main-header.subpage__monitoring .l-wrapper {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */