@mixin navLink {
    display: block;
    color: $c-primary;
    text-decoration: none;
}

@mixin inputHelpText {
    position: absolute;
    left: 0;
    bottom: -14px;
    color: $c-tertiaryLight;
    width: 0;
    transition: width 1.2s;
    overflow: hidden;
    white-space: nowrap;

    &.js-error-slide {
        width: 100%;
    }
}

@mixin subpagesHeaderBg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center center;
    overflow: hidden;
}