@mixin navLink {
    display: block;
    color: $c-primary;
    text-decoration: none;
}

@mixin inputHelpText {
    position: absolute;
    left: 0;
    bottom: -14px;
    color: $c-tertiaryLight;
    width: 0;
    transition: width 1.2s;
    overflow: hidden;
    white-space: nowrap;

    &.js-error-slide {
        width: 100%;
    }
}

@mixin subpagesHeader {
    background-size: 200%;
    height: 70vh;
    background-position: center center;
    overflow: hidden;

    @include breakpoint(xs) {
        background-size: 100%;
    }

    @include breakpointPortrait(xs) {
        background-size: 180%;
    }

    .l-wrapper {
        height: 100%;
    }
}