//colors
$c-primary: #fff;
$c-secondary: rgb(10, 10, 10);
$c-secondaryLight: #7C7b7a;
$c-tertiary: #276a9a;

//sizes
$s-button: 1rem;
$s-burger: 60px;
$s-logo: 2rem;
$s-stack-icon: 3.5rem;

//margins
$m-hero-children: 26px;