//colors
$c-primary: #f2f2f2;
$c-secondary: #4f4f4f;
$c-secondaryLight: #7C7b7a;
$c-tertiary: #276a9a;

//sizes
$s-button: 1rem;
$s-burger: 60px;
$s-logo: 2rem;
$s-stack-icon: 3.5rem;

//paddings
$p-gallery-items: 8px;

//css variables
:root {
    --js-photos-quantity: 8;

    @include breakpoint(xs) {
        --js-photos-quantity: 9;
    }

    @include breakpoint(sm) {
        --js-photos-quantity: 12;
    }
}