//colors
$c-primary: #fff;
$c-primaryTrans: rgba(255, 255, 255, 0.6);
$c-secondary: rgb(0, 0, 0);
$c-secondaryTrans: rgba(0, 0, 0, 0.2);
$c-tertiary: #276a9a;

//sizes
$s-button: 1rem;
$s-burger: 50px;
$s-logo: 2rem;

//margins
$m-hero-children: 26px;