.l-container {
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: $c-primary;
    max-width: 1920px;
    margin: 0 auto;

    @include breakpoint(xs) {
        padding: 2rem 5rem;
    }

    @include breakpoint(md) {
        padding: 4rem 6rem;
    }

    &__heading {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 1.2rem;
        color: $c-secondary;
    }

    &__paragraph {
        line-height: 1.6rem;
        margin-bottom: 2.5rem;
        color: $c-secondary;
        font-size: 1rem;

        @include breakpoint(lg) {
            padding: 0 14vw;
        }
    }

    &--contact {
        background-color: transparent;
        padding-bottom: 2vh;
    }

    &--swap {
        @include breakpoint(md) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}