.c-footer {
    background-color: transparent;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
    margin: 30px auto 0;
    width: 85%;

    @include breakpoint(lg) {
        width: 85vw;
    }

    &__text {
        text-decoration: none;
        font-size: 12px;
        color: $c-secondary;

        @include breakpoint(lg) {
            padding: 10px 40px;
            transition: color .4s;

            &:hover {
                color: $c-tertiary;
            }
        }
    }
}