.my-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    @include breakpoint(md) {
        &::after {
            content: "";
            width: calc(100%/4 - #{$p-gallery-items / 2});
        }
    }

    @include breakpoint(lg) {
        width: 80%;
        margin: 0 auto;
    }

    &__figure {
        width: calc(100%/2 - #{$p-gallery-items / 2});
        margin-bottom: $p-gallery-items;
        overflow: hidden;

        @include breakpoint(xs) {
            width: calc(100%/3 - #{$p-gallery-items / 2});
        }

        @include breakpoint(md) {
            width: calc(100%/4 - #{$p-gallery-items});
            margin-bottom: $p-gallery-items * 2;
        }

        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            transition: transform .4s;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}