.l-split {
    display: flex;
    flex-direction: column;
    background-color: $c-tertiary;
    color: $c-primary;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;

    @include breakpoint(md) {
        flex-direction: row;
        text-align: left;
    }

    &--reverse {
        background-color: $c-secondaryLight;

        @include breakpoint(md) {
            flex-direction: row-reverse;
            text-align: right;
        }
    }

    &__image,
    &__content {
        background-size: cover;
        background-position: center center;
        width: 100%;

        @include breakpoint(md) {
            flex-basis: 50%;
        }
    }

    &__image {
        height: 40vh;

        @include breakpoint(xs) {
            height: 70vh;
        }

        @include breakpoint(md) {
            height: 60vh;
        }

        @include breakpointPortrait (sm) {
            height: 40vh;
        }

        &--home {
            background-image: url(../img/about-us.jpg);
        }

        &--camera {
            background-image: url(../img/about-us-2.jpg);
        }
    }

    &__content {
        padding: 3rem 1.5rem 4rem;

        @include breakpoint(xs) {
            padding: 3rem 5rem 4rem;
        }

        @include breakpoint(md) {
            padding: 2rem 3rem 3rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }

        @include breakpoint(lg) {
            padding: 2rem 6rem;
        }

        @include breakpointPortrait(xs) {
            padding: 4rem 3rem 6rem;
        }
    }

    &__heading {
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 10px;

        @include breakpoint(lg) {
            font-size: 1.9rem;
        }
    }

    &__paragraph {
        font-weight: 300;

        @include breakpoint(lg) {
            line-height: 1.5rem;
        }
    }
}

.c-list {
    list-style: none;

    &__item {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        font-weight: 500;

        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
            padding: 1rem 0;

            &--reverse {
                flex-direction: row-reverse;
            }
        }
    }

    &__icon {
        font-size: 2rem;
        margin-bottom: 10px;

        @include breakpoint(md) {
            font-size: 1.3rem;
            margin: 0;
        }
    }

    &__text {
        font-size: 1rem;

        @include breakpoint(md) {
            margin: 0 15px;
        }
    }
}

.fa-user-shield {
    transform: translateX(8px);

    @include breakpoint(md) {
        transform: translateX(2px);
    }
}