.l-stack {
    display: flex;
    flex-direction: column;

    &--horizontal {
        @include breakpoint(md) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &--contact {
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;
    }
}