.l-stack {
    $self: &;
    display: flex;
    flex-direction: column;

    &--horizontal {
        @include breakpoint(md) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &--contact {
        text-align: left;
        width: 70%;
        margin-left: 20px;

        @include breakpoint(md) {
            width: 90%;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto 1.5rem;
        }

        @include breakpoint(lg) {
            width: 75%;
        }
    }
}