.c-burger {
    $self: &;
    position: fixed;
    top: $s-burger / 2;
    right: $s-burger / 2;
    z-index: 3;
    width: $s-burger;
    height: $s-burger;
    cursor: pointer;
    background-color: rgba($c-secondary, .2);
    border-radius: 50%;

    &__inner,
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        width: 55%;
        height: 3px;
        background-color: $c-primary;
        transform: translate(-50%, -50%);
        transition: transform .4s;
    }

    &__inner {
        top: 50%;
    }

    &::before {
        top: 30%;
        transform-origin: right;
    }

    &::after {
        top: 70%;
        transform-origin: right;
    }

    &--active {
        #{ $self }__inner {
            transform: translate(100%, -50%) rotate(150deg) scale(0);
        }

        &::before {
            transform: translate(-65%, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(-65%, -50%) rotate(45deg);
        }
    }
}