.c-custom-checkbox {
    position: relative;
    margin-bottom: 15px;

    &__input {
        margin-right: 10px;
        transition: box-shadow .4s;
    }

    &__label {
        font-size: 1rem;
    }

    &__help {
        @include inputHelpText;
        bottom: -14px;
    }
}