.c-input-group {
    position: relative;

    @include breakpoint(md) {
        flex-basis: 32%;
    }

    &__input,
    &__textarea {
        border: 1px solid $c-tertiary;
        color: $c-tertiary;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        width: 100%;
    }

    &__textarea {
        height: 20vh;

        @include breakpoint(xs) {
            height: 40vh;
        }

        @include breakpoint(sm) {
            height: 20vh;
        }

        @include breakpointPortrait(md) {
            height: 15vh;
        }
    }

    &__file {
        margin-bottom: 20px;
        color: $c-tertiary;
    }

    &__help {
        position: absolute;
        left: 0;
        bottom: 3px;
        color: $c-tertiaryLight;
    }
}