.c-input-group {
    $self: &;
    position: relative;
    text-align: left;

    @include breakpoint(md) {
        flex-basis: 32%;
    }

    &__input,
    &__textarea {
        border: 1px solid $c-tertiary;
        border-radius: 3px;
        color: $c-tertiary;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        width: 100%;
        transition: box-shadow .4s;
    }

    &__textarea {
        height: 20vh;

        @include breakpoint(xs) {
            height: 40vh;
        }

        @include breakpoint(sm) {
            height: 20vh;
        }

        @include breakpointPortrait(md) {
            height: 15vh;
        }
    }

    &__file {
        margin-bottom: 20px;
        color: $c-tertiary;
    }

    &__help {
        @include inputHelpText;
        bottom: 3px;
    }
}