.splide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__track {
        height: 100%;
    }
}

.header-btns {
    display: none;

    @include breakpoint(xs) {
        display: block;
        background-color: transparent;
        fill: rgba(255, 255, 255, 0.4);
        width: 4rem;
        height: 4rem;
        transition: fill .4s;

        &:focus,
        &:hover {
            fill: rgba(255, 255, 255, 0.8);
        }

        svg {
            width: 50%;
            height: 50%;
        }
    }
}

#splide01-slide01 {
    background-position-x: 20% !important;

    @include breakpoint(lg) {
        background-position-x: center !important;
    }
}

#splide01-slide02 {
    background-position-x: 60% !important;

    @include breakpoint(lg) {
        background-position-x: center !important;
    }
}